table {
    border-collapse:collapse;
    margin: 0 auto;
    cursor:default;
}

td {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  text-align: center;
}


p {
  text-align: center;
  font-size: 25px
}

.my-cell {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  text-align: center;
}

.opponent-cell {
  width: 35px;
  height: 35px;
  vertical-align: middle;
  text-align: center;
}

.uncovered {
  border: outset 4px #5980E2;
  background-color: #29458E;
}

.hit {
  color: red;
}

.miss {
  color: green;
}

.highlighted {
  background-color: #FCFC38;
}

.turn{
  border: green 4px solid;
}

#wait {
  color: red;
}

#my-field {
  display: inline-block;
  vertical-align: top
}

#opponent-field {
  display: inline-block;
  vertical-align: top
}

#fields{
  text-align: center;
}