table {
    border-collapse:collapse;
    margin: 0 auto;
    cursor:default;
}

td {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  text-align: center;
}


p {
  text-align: center;
  font-size: 25px
}

.my-cell {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
}

.uncovered {
  border: outset 4px #5980E2;
  background-color: #29458E;
}

#name-field {
  padding-top: 50px;
}