table {
    border-collapse:collapse;
    margin: 0 auto;
    cursor:default;
}

td {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  text-align: center;
}


p {
  text-align: center;
  font-size: 25px
}

.my-cell {
  width: 40px;
  height: 40px;
  padding: 2px;
  vertical-align: middle;
  text-align: center;
  border: outset 4px #5980E2;
  background-color: #29458E;
  transition: background-color 0.3s;
}

.draggable {
  cursor: move;
}

.drop-target {
  background-color: #F4FA3E;
}

.highlighted {
  background-color: #FCFC38;
}

#aircraft {
  width: 30px;
  height: 190px;
  background-color: grey;
  border: solid 2px;
  border-radius: 25px;
  position: absolute;
  margin-left: 50px;

}

#battleship {
  width: 30px;
  height: 150px;
  background-color: grey;
  border: solid 2px;
  border-radius: 25px;
  position: absolute;
  margin-left: 100px;
}

#submarine {
  width: 30px;
  height: 110px;
  background-color: grey;
  border: solid 2px;
  border-radius: 25px;
  position: absolute;
  margin-left: 150px;
}

#cruiser {
  width: 30px;
  height: 110px;
  background-color: grey;
  border: solid 2px;
  border-radius: 25px;
  position: absolute;
  margin-left: 200px
}

#destroyer {
  width: 30px;
  height: 70px;
  background-color: grey;
  border: solid 2px;
  border-radius: 25px;
  position: absolute;
  margin-left: 250px;
}

#name-field {
  padding-top: 50px;
}