
<html>
  <head>
    <title>Battleship</title>
    {% load staticfiles %}

    <link rel="stylesheet" href="{{STATIC_URL}}css/foundation.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/base.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/interact.js/1.2.2/interact.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.overlaps.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jQueryRotateCompressed.js"></script>

    {% block links %} {% endblock %}
  </head>
  <div>
    <body>
      {% block content%}{% endblock %}
    </body>
  </div>
</html>