{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="{{STATIC_URL}}css/game_field.css">
<script type="text/javascript" src="{{STATIC_URL}}js/game_field.js"></script>
{% endblock %}

{% block content %}
<div id='game'>
  <h1 class='center'>{{name}}</h1>
  <h1 id='wait' class='center'>Waiting for Opponent to join <img src="http://i.stack.imgur.com/FhHRx.gif" alt="loading"></h1>

  <div id='fields'>
    <div id='my-field'>
      <h2 id='my-name'>{{player_name}}</h2>
      <table>
        <tbody>
          {% for x in size%}
          <tr>
            {% for y in size %}
            <td class='uncovered my-cell' id='{{x}}{{y}}'>
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div id='opponent-field'>
    <h2 id='opponent-name'>{{opponent_name}}</h2>
      <table>
        <tbody>
          {% for x in size%}
          <tr>
            {% for y in size %}
            <td class='uncovered opponent-cell'>
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}