{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="{{STATIC_URL}}css/set_field.css">
<script type="text/javascript" src="{{STATIC_URL}}js/set_field.js"></script>

{% endblock %}

{% block content %}
<div id='fields'>
  <h1 class='center'>{{name}}</h1>
  <h5 class='center'>Please enter you name and place your ships</h5>
  <h5 class='center'>Double Click to Rotate</h5>
  <div id = 'my-field'>
    <div id='aircraft' class="draggable ship rotate"> </div>
    <div id='battleship' class="draggable ship rotate"> </div>
    <div id='submarine' class="draggable ship rotate"> </div>
    <div id='cruiser' class="draggable ship rotate"> </div>
    <div id='destroyer' class="draggable ship rotate"> </div>
    <div id='table-div'>
      <table>
        <tbody id='drop-target'>
          {% for x in size%}
          <tr>
            {% for y in size %}
            <td class='uncovered my-cell' id='{{x}}{{y}}'></td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div id='name-field'>
    <table>
      <form id="set-field-form" action="/game/{{name}}/{{game_id}}" method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <tr class="submit"><th></th><td><input type="submit" value="Play!" /></td></tr>
      </form>
    </table>
  </div>

{% endblock %}

